pipeline/ADF Silver Gold.json
{
	"name": "ADF Silver Gold",
	"properties": {
		"activities": [
			{
				"name": "Get all files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "medallion",
						"type": "DatasetReference",
						"parameters": {
							"folderName": "medallion",
							"layerName": "Bronze"
						}
					},
					"fieldList": [
						"childItems",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter File",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get all files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get all files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Process Bronze",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter File').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().name",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Region.csv"
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}